<nav class="navbar navbar-expand-lg navbar-light bg-dark ">
  <div class="container-fluid">
    <li class="nav-item">
    <%= link_to 'Home',root_path,class:'navbar-brand text-light btn btn-dark'%>
    </li>
    <li class="nav-item btn btn-dark">
          <%= link_to 'Inscreva-se', new_cliente_path,class:'navbar-brand text-light'%>
        </li>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%=link_to 'Sobre',home_sobre_path,class:'navbar-brand text-light btn btn-dark'%>
        </li>
        <li class="nav-item btn btn-dark">
          <%= link_to 'Clientes', clientes_path,class:'navbar-brand text-light'%>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>