<div style="text-align:center;">
	<h1>Cansado de ficar parado?</h1>
<p>Procurando energias para poder sair da inércia?Você só encontra aqui.<br>Modalidades</p>
<p>Futebol R$20,00/mês</p>
<p>Natação R$50,00/mês</p>
<p>Vôlei R$25,00/mês</p>
<p>Esteira R$25,00/mês</p>
<p>Cross-fit R$45,00/mês</p>
<p>Musculação R$30,00/mês</p>
</div>